{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 13,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "@typescript-eslint/no-unused-vars": [
            2,
            {
                "argsIgnorePattern": "^_+$"
            }
        ],
        "indent": [
            "error",
            "tab",
            {
                "MemberExpression": 0
            }
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "quotes": [
            2,
            "double"
        ],
        "semi": [
            2,
            "always"
        ],
        "prefer-arrow-callback": 2,
        "no-mixed-spaces-and-tabs": 0,
        "no-irregular-whitespace": 0,
        "no-control-regex": 0
    }
}